body 
{
    overflow: hidden; /* Hide scrollbars */
 }

.navbar 
{
    width: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: left;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 15px;
}

.navbar a:hover 
{
    background-color: rgb(0, 0, 0);
    color: yellow;
}

.icon_color 
     {
       color: orange;
     }
  

.login-col 
{
    color: rgb(50, 187, 233);
}

  /* Navbar hover */
  .navbar a:hover 
  {
   background-color: black;
   color: yellow;
  }

#nastavni_plan_hidden 
{
    display: none;
}

 /* Register naslov*/
#register_title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
    color: rgb(60, 50, 58);
    padding-bottom: 5px;
   
}

 /* Register div */
.register_div 
{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    animation: fade_in 3s;
    align-items: center;
  
}

 /* Register EMAIL i PASS */
#register_EMAIL,
#register_EMAIL_PASS {
    margin-top: 5px;
    margin-bottom: 15px;
    height: 4vh;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: white;
    padding: 10px;
}


/* Register from */
#register_form
 {
    display: flex;
    flex-direction: column;
    height: 390px;
    width: 390px;
    justify-content: center;
}
   
#register_button:hover {
    background-color: rgb(36, 36, 36);
}

/* Modal Content */
 .modal 
 {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0,0,0,0.4);
 }
 
 #open-contact-modal {
   color: white;
 }
 
 /* Modal Content */
 .modal-content {
   background-color: #fefefe;
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 50%;
 }
 /* Close Button */
 .close 
 {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
 /* Form Styles */
 .form-group 
 {
   margin-bottom: 20px;
 }
 
 label 
 {
   display: block;
   font-weight: bold;
   margin-bottom: 5px;
 }
 
 input,
 select,
 textarea 
 {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
 }
 
 button[type="submit"],
 button[type="button"] 
 {
   background-color: #2968d5;
   color: white;
   border: none;
   padding: 10px 20px;
   border-radius: 4px;
   cursor: pointer;
 }

 /* Animacija */
@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* footer slika */
.end > img 
{
   object-fit: cover;
   width: 100%;
   height: 415px;
 }
 .end > div 
 {
   height: 0;
 }

 /* footer tekst (BUDI IZVRSTAN U ONOME ŠTO VOLIŠ) */
 .footer_img_tekst 
 {
   position: relative;
   top: -350px;
   left: 50%;
   transform: translate(-50%, 30%);
   color: white;
   font-size: 60px;
   font-weight: 600;
   text-shadow: 3px 2px black;
   text-align: center;
 }

  /* footer tekst (ZAISKRI) */
  .gradient_zaiskri 
  {
    color: rgb(129, 34, 40);
    text-shadow: 2px 2px black;
    font-size: 60px;
    font-weight: 600;
  }